[submodule "kmod"]
	path = kmod
	url = https://github.com/binyot/fossbot-kmod
[submodule "core"]
	path = core
	url = https://github.com/binyot/fossbot-core
[submodule "fpga"]
	path = fpga
	url = https://github.com/binyot/fossbot-fpga
